.project
.settings/
### archivos a ignorar del api
game-api/.classpath
game-api/.project
game-api/.settings/
game-api/target/
### archivos a ignorar del service
service/.classpath
service/.project
service/.settings/
service/target/
### archivos a ignorar en la persistencia
persistence/.classpath
persistence/.project
persistence/.settings/
persistence/target/
/game-api/target/